							</div>
						</div>
					</div>
				</div>		
			</div>
			<!-- /RIGHT -->
		</div>
	</div>
</section>
<!-- /FORM -->	
<%= javascript_include_tag "calculator" %>
<script async src="https://www.google.com/recaptcha/api.js"></script>
